body {
    margin: 0;
    * {
        transition: 0.3s;
        font-family: "Quicksand", sans-serif;
        outline: none;
    }
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        &:visited {
            color: black;
        }
        &:hover {
            .button {
                color: white;
            }
        }
    }
    // GOOGLE MAPS CLASSES______
    #autocomplete-field {
        position: absolute;
        z-index: 35;
        left: 1%;
        top: 1%;
        height: 35px;
        width: 20%;
        padding: 1%;
        color: grey;
        border-radius: 15px;
    }
    .gmnoprint {
        display: none;
    }
    // COMMON CLASSES_______
    .pointer {
        cursor: pointer;
    }
    .inline {
        flex-direction: row !important;
    }
    .between {
        justify-content: space-between !important;
    }
    .center {
        justify-content: center !important;
        align-items: center;
    }
    .username {
        align-self: center;
        color: #27ccc0;
        font-weight: 600;
        font-size: 1.1em;
        padding: 5px;
    }
    .button {
        padding: 10px;
        border: 1px solid;
        box-shadow: 2px 2px 1px;
        border-radius: 1px;
        color: black;
        text-align: center;

        &:hover {
            background: #27ccc0;
        }

        &.standard {
            // width: ;
        }
        &.large {
            width: 300px;
            padding: 20px;
        }
        &.inactive {
            background: grey;
            color: rgb(68, 65, 65);
        }
    }
    .icon-wrap {
        border: 1px solid;
        padding: 1px 1px;
        &.pointer {
            &:hover {
                background: #27ccc0; //$green
                color: white;
            }
        }
        &.inactive {
            background: grey;
            color: rgb(68, 65, 65);
        }
    }
    .site-title {
        display: flex;
        align-items: center;
        font-size: 2em;
        color: #6d6d6d;
        img {
            height: 150px;
        }
    }
    .rounded-field {
        flex: 0 1 80%;
        border-radius: 10px;
        padding: 1%;
        &.invalid {
            border-color: #9f3838;
            background: rgba(255, 0, 0, 0.088);
        }
    }
    .footer {
        background: black;
        height: 5%;
        position: fixed;
        bottom: 0;
        width: 100%;
        color: white;
    }
    .loader-wrap {
        //ideally has a relative positionned parent
        position: absolute;
        top: 50%;
        left: 45%;
    }
    .icon {
        &.pointer {
            &:hover, &.active {
                color: #27ccc0;
                transform: scale(1.1);
                transition: .3s;
            }
        }
    }
    .tooltip {
        z-index: 30;
        color: white;
         background: #27ccc0;
    }
    .slidecontainer {
        flex: 0 1 100%;
      .slider {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        // width: 100%;
        height: 5px;
        background: #e2fffd;
        outline: none;
        opacity: 0.7;
        transition: opacity .2s;
        border: 1px solid grey;
        border-radius: 10px;
        padding: 1%;
        &:hover {
          opacity: 1; /* Fully shown on mouse-over */
        }
      
        &::-webkit-slider-thumb {
          -webkit-appearance: none; /* Override default look */
          appearance: none;
          width: 25px; /* Set a specific slider handle width */
          height: 25px; /* Slider handle height */
          background: black; /* Green background */
          cursor: pointer; /* Cursor on hover */
          border-radius: 50px;
        }
        &::-moz-range-thumb {
          width: 25px; /* Set a specific slider handle width */
          height: 25px; /* Slider handle height */
          background: black; /* Green background */
          cursor: pointer; /* Cursor on hover */
          border-radius: 50px;

        }
      }
    }
      
      /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
      
    //______________
    #root {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .App {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;

            .nav-wrap {
                top: 0;
                width: 100%;
                height: 10%;
                background: transparent;
                display: flex;
                justify-content: space-between;

                .nav-inner {
                    display: inline-flex;
                    width: 100%;
                    justify-content: flex-end;
                    padding: 1% 0;

                    .nav-section {
                        flex: 0 1 20%;
                        display: inline-flex;
                        justify-content: space-evenly;

                        &.flex {
                            flex: 1;
                            &.start {
                                justify-content: start;
                                align-items: center;
                                padding: 0 1%;
                                &:hover {
                                    img {
                                        transform: scale(1.1);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .section-wrap {
                display: flex;
                width: auto;
                height: auto;
                animation: reveal 0.5s linear;
                flex-direction: column;
                justify-content: start;

                .sidebar {
                    position: absolute;
                    z-index: 20;
                    background: white;
                    height: 95%;
                    border: 1px solid #80808061;
                    border-top: none;
                    padding: 15px;
                    text-align: left;
                    animation: slideDown .5s linear;
                    &.collapsed {
                        height: 0;
                        border: none;
                        background: transparent;
                        // top: 20%;
                        left: 0;
                        transition: none;
                    }
                    .controls-row {
                        display: flex;
                        justify-content: space-between;
                        padding: 3% 1%;
                        flex: 1 1;
                        flex-wrap: wrap;
                    }
                    .sidebar-column {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        flex: 0 1 auto;

                        label {
                            color: #686868; //$dark-grey
                            font-size: 1.1em;
                            font-weight: 500;
                            padding: 0 0 10px 0;
                        }
                        .sidebar-row {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 15px;
                            .rounded-field {
                                flex: 0 1 80%;
                            }
                        }
                    }
                }

                .map-wrap {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    height: 100%;
                    align-items: center;
                    justify-content: space-between;
                }

                .section-lane {
                    display: flex;
                    flex: auto;
                    padding: 15px;
                    &.small {
                        flex: 0 0 10%;
                    }

                    .step-box {
                        border: 1px solid;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 30%;
                        padding: 5px;

                        .title {
                            color: #27ccc0;
                            text-align: left;
                            flex: 0 0 10%;
                            font-size: 1.1em;
                            font-weight: 600;
                            padding-bottom: 10px;
                        }
                        .body {
                            flex: 0 1 auto;
                        }
                        .avatar {
                            flex: 20%;
                            display: flex;
                            justify-content: center;
                            padding: 10px;
                        }
                    }
                }
            }

            .section-header {
                display: flex;
                height: 80px;
            }

            .section-title {
                text-align: center;
                font-size: 14px;
            }

            .section-summary {
                height: 150px;
            }

            .section-main {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                width: 100%;
                padding: 2%;
            }
        }
    }
}

@keyframes reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bounce {
    from {
        transform: translateY(-5px);
    }
    to {
        transform: none;
    }
}

@keyframes slideDown {
    from {
        height: 0;
    }

    to {
        height: 78%;
    }
}